:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

.dark {
  --vp-c-brand: #646cff;
  --vp-c-brand-dark: #a8b4ff;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.16);
}
